{% extends 'base.html.twig' %}

{% block title %} Modifer mon mot de passe - The Store{% endblock %}

{% block content %}

    <h1> Modifier mon mot de passe </h1>
    <hr>
    <a href="{{ path('account') }}">Retour à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info"> {{ notification }}</div>
    {% endif %}
    <br>
    {{ form(form) }}
    
    <hr>
{% endblock %}